
/*root类选择器给所有的元素设置样式*/
.root {
    -fx-font-family: "微软雅黑";
    -fx-background-size: stretch stretch;
    -fx-background-position: center center;
}
/*button类型选择器设置所有Button的背景色*/
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: darkturquoise;
}

/*hover伪类选择器设置鼠标移过Button时的背景色*/
.button:hover {
    -fx-background-color: lightskyblue;
}

/*Label标签样式设置*/
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: green;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: green;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: green;
    -fx-opacity: 1;
}

/*TextArea样式设置*/
.text-area{
    -fx-text-fill: #3124a4;
    -fx-font-size: 16px;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

